@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
}

.title{
    font-weight: 900;
    font-size: 23px;
    margin: 10px;
}
    
body{ 
    font-family: red hat display;
    background-image:url(images/pattern-background-desktop.svg);
      background-size: contain;
      

}
.container{
    width: 450px;
    height: 700px;
    text-align: center;
    margin: auto;
    


}

.card{
   
    border: 1px solid white ;
    border-radius: 15px;
    box-shadow: -5px 15px 10px rgb(212, 212, 233);
}

.image{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 450;
    
}
p{
    color: hsl(224, 23%, 55%);
    font-size: 16px;
}

.message{
    margin: 20px;
    padding: 15px;
    
}

.icon{
    display: flex;
    align-items: center;
    text-align: left;
}

.payment-plan{
    
    border: 1px solid hsl(225, 100%, 98%);
    border-radius: 10px;
    background-color:hsl(225, 100%, 98%) ;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    
    

}
    

.pay-btn{
    
    background-color:hsl(245, 75%, 52%) ;
    font-size: 15px;
    padding: 15px;
    margin: 20px;
    width: 400px;
    box-shadow: -5px 20px 10px rgb(212, 212, 233);
    display: block;
    border: none;
    border-radius: 10px;
    font-weight: 900;
    margin-left: 30px;
    color: white;
    
}

.annual-plan{
    font-size: 16px;
}

.pay-btn:hover{
    color: hsl(227, 4%, 44%);
    background-color: hsl(226, 76%, 75%);
    font-size: 16px;
    font-weight: 900;
}

.change{
    padding-top: 20px;
    padding-right: 5px;
    padding-left: 70px;
    padding-bottom: 15px;
    font-weight: 900;
}

.change-btn{
    color: hsl(223, 47%, 23%);
    font-size: 15px;
    font-weight: 900;
}

.change-btn:hover{
    color: hsl(223, 34%, 64%);
    font-size: 16px;
    
}

.cancel-btn{
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    margin: 20px;
    font-size: 14px;
    font-weight: 900;
}
.cancel-btn:hover{
    color: rgb(31, 31, 32);
    font-size: 16px;

}

@media only screen and (max-width:425px){
    body{
        background-image: url(images/pattern-background-mobile.svg);
        font-size: 14px;
    }
    .container{
        max-width: 87%;
    }
    .title{
        font-size: 23px;
        
    }
    .payment-plan{ 
        padding: 12px;
    }
    .icon{
        margin-left: 10px;

    }
    .pay-btn,.cancel-btn,.payment-plan {
        font-size: 13px;
    }
    .text-content{
        padding: 9% 7%;
    }
    .pay-btn{
        padding: 13px ;
        margin: 17px;
        margin-right: 17px;
        max-width: 320px;
    }
    .image{
        max-width: 100%;
    height: auto;
    }
}
